<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}.txt" />
        <target name="console" xsi:type="ColoredConsole" />
    </targets>
    <rules>
        <logger name="Microsoft.AspNetCore.*" maxlevel="Info" final="true" /> <!-- Http log spam (blackhole) -->
        <logger name="Quartz.Core.QuartzSchedulerThread" maxlevel="Info" final="true" /> <!-- Quartz blackhole -->
        <logger name="Quartz.Core.JobRunShell" maxlevel="Info" final="true" /> <!-- Quartz blackhole -->
        <logger name="*" minlevel="Info" writeTo="file"/>
        <logger name="*" minlevel="Trace" writeTo="console"/>
    </rules>
</nlog>
